{% extends 'operator/adminbase.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Ubah Profil
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{message.tags}} alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
                <div class="box">
                    <div class="box-body">
                        <form method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <div><label>Nama Depan</label></div>
                                <div>
                                    <input class="form-control" type="text" value="{{request.user.first_name}}" name="first_name">
                                </div>
                            </div>

                            <div class="form-group">
                                <div><label>Nama Belakang</label></div>
                                <div>
                                    <input class="form-control" type="text" value="{{request.user.last_name}}" name="last_name">
                                </div>
                            </div>

                            <div class="form-group">
                                <div><label>Username</label></div>
                                <div>
                                    <input class="form-control" type="text" value="{{request.user.username}}" name="username">
                                </div>
                            </div>

                            <div class="form-group">
                                <div><label>Password</label></div>
                                <div>
                                    <input class="form-control" type="password" value="" name="{{form.password1.name}}">
                                </div>
                                <small class="text-danger">*Kosongkan Bila Tidak Merubah Password</small> <br>
                                <small class="text-danger">*Password Tidak Boleh Mirip Dengan Username, Harus Berisi 8 Karakter Dengan Kombinasi Huruf Besar, Kecil, Angka & Simbol</small>
                            </div>

                            <div class="form-group">
                                <div><label>Konfirmasi Password</label></div>
                                <div>
                                    <input class="form-control" type="password" value="" name="{{form.password2.name}}">
                                </div>
                                <small class="text-danger">*Konfirmasi Password Harus Sama Dengan Password</small>
                            </div>


                            <div class="form-group">
                                <button type="submit" title="Simpan" class="btn btn-success"><i class="fa fa-save" aria-hidden="true"></i> Simpan</button>
                                <a class="btn btn-primary" title="Kembali" href="" role="button"><i class="fa fa-arrow-left" aria-hidden="true"></i> Kembali</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
{% block scripts %}
{% endblock scripts %}


{% endblock content %}