{% extends 'main.html' %} 

{% load static %}    
{% block content %} 
  
   <div class="section section-lg bg-secondary">
        <div class="container wide">
          <div class="text-center">
            <h1>{{resep.title}}</h1>
            <div class="subtitle-2">✨ Yommies ✨</div>
          </div>
        </div>
      </div>
      <div class="section section-xl">
        <div class="container wide">
          <div class="text-center"><img src="{{resep.thumb}}" alt="" width="50%" />
            <div class="single-prod-wrap">
              <h2>{{resep.title}}</h2>
              <div class="subtitle-2">{{resep.desc}}</div>
              <!-- <p class="fz-18">Urbs cresceres, tanquam azureus fraticinida.</p> -->
            </div>
          </div>
        </div>
      </div>
      <!--Divider-->
      <div class="section">
        <div class="container wide">
          <div class="divider"></div>
        </div>
      </div>

       <div class="section section-xl">
        <div class="container wide">
          <div class="row row-md-80 row-sm-50">
            <div class="col-lg-12">
              <div class="subtitle">Bahan & Cara Lengkap</div>
              <h3 class="title">Bahan Yang Dibutuhkan</h3>
              <div class="subtitle-2 big">Berikut adalah bahan - bahan yang dibutuhkan</div>
              <div class="list-wrap">
                <ul class="list-marked" style=" columns: 2; -webkit-columns: 2; -moz-columns: 2;">
                    {% for ing in resep.ingredient %}
                    <li>
                    <p>{{ing}}</p>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div> 
            <div class="col-lg-12">
              <h3 class="title">Cara Lengkap</h3>
              <div class="subtitle-2 big">Berikut adalah cara lengkap pembuatannya</div>
              <div class="list-wrap">
                <ul class="list-marked">
                    {% for step in resep.step %}
                    <li>
                    <p>{{step}}</p>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>            
            </div>
          </div>
        </div>
      </div>
{% endblock %}