{% extends 'main.html' %} 

{% load static %}    
{% block content %} 
  
   <div class="section section-lg bg-secondary">
        <div class="container wide">
          <div class="text-center">
            <h1>{{resep.title}}</h1>
            <div class="subtitle-2">✨ Yommies ✨</div>
          </div>

        </div>
        <div class="text-center mt-4"> 
          {% if bookmark == False %}
          <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="key_bookmarks" value="{{key}}">
            <button class="text-center button button-secondary" type="submit">
              <i class="mdi mdi-bookmark-plus"></i>&nbsp;Tambah ke Bookmarks
            </button>
          </form>
          {% else %}
          <form action="" method="POST">
            {% csrf_token %}
            <input type="hidden" name="key_unbookmarks" value="{{key}}">
            <button class="text-center button button-secondary" type="submit">
              <i class="mdi mdi-bookmark-remove"></i>&nbsp;Hapus Dari Bookmarks
            </button>
          </form>
          {% endif %}
        </div>
      </div>
      <div class="section section-xl">
        <div class="container wide">
          <div class="text-center">
            {% if from_api == 1 %}
            <img src="{{resep.thumb}}" alt="" width="50%" />
            {% else %}
            <img src="{{media_url}}{{resep.thumb}}" alt="" width="50%" />
            {% endif %}

            <div class="single-prod-wrap">
              <h2>{{resep.title}}</h2>
              <div class="subtitle-2">{{resep.desc|safe}}</div>
              <!-- <p class="fz-18">Urbs cresceres, tanquam azureus fraticinida.</p> -->
            </div>
          </div>
        </div>
      </div>
      <!--Divider-->
      <div class="section">
        <div class="container wide">
          <div class="divider"></div>
        </div>
      </div>

       {% if resep.url_youtube != None %}
            <div class="col-lg-12 text-center mt-5">
              <h3 class="title">Video</h3>
              <div class="subtitle-2 big">Berikut adalah video pembuatan</div>
              <div class="list-wrap">
               <iframe width="560" height="315" src="https://www.youtube.com/embed/{{url_youtube}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
            </div>      
            {% endif %} 

       <div class="section section-xl">
        <div class="container wide">
          <div class="row row-md-80 row-sm-50">
            <div class="col-lg-12">
              <div class="subtitle">Bahan & Cara Lengkap</div>
              <h3 class="title">Bahan Yang Dibutuhkan</h3>
              <div class="subtitle-2 big">Berikut adalah bahan - bahan yang dibutuhkan</div>
              <div class="list-wrap">
                <ul class="list-marked" style=" columns: 2; -webkit-columns: 2; -moz-columns: 2;">
                  {% if resep.is_from_api == 1 %}
                    {% for ing in resep.ingredient %}
                    <li>
                    <p>{{ing}}</p>
                    </li>
                  {% endfor %}
                  {% else %}
                    {% for ing in ingredient %}
                    <li>
                    <p>{{ing}}</p>
                    </li>
                    {% endfor %}
                  {% endif %}
                </ul>
              </div>
            </div> 
            <div class="col-lg-12">
              <h3 class="title">Cara Lengkap</h3>
              <div class="subtitle-2 big">Berikut adalah cara lengkap pembuatannya</div>
              <div class="list-wrap">
                <ul class="list-marked">
                  {% if resep.is_from_api == 1 %}
                    {% for step in resep.step %}
                    <li>
                    <p>{{step}}</p>
                    </li>
                  {% endfor %}
                  {% else %}
                  {% for langkah in step %}
                    <li>
                    <p>{{langkah}}</p>
                    </li>
                  {% endfor %}
                  {% endif %}
                </ul>
              </div>
            </div>  
                
            </div>
          </div>
        </div>
      </div>
      <div class="section">
        <div class="container wide">
          <div class="divider"></div>
        </div>
      </div>
      <section class="section section-md bg-default text-center">
        <div class="container">
          <div class="row justify-content-md-center">
            <div class="col-md-9 col-lg-8 col-xl-7">
              <h3>Komentar</h3>
              <p class="big" style="color: #0C1451;">Berikan komentar terkait resep ini, yuk🤤</p>
              <!--Campaign Monitor-->
              {% if request.user.is_authenticated %}
              <form class="rd-form rd-form-3 rd-form-inline" action="" method="POST">
                {% csrf_token %}
                <div class="form-wrap">
                  <label class="form-label" for="campaign-email">Komentar...</label>
                  <input class="form-input" id="campaign-email" type="text" name="komentar" data-constraints="@Required">
                </div>
                <div class="form-button form-button-2 text-center">
                  <button class="button button-primary" type="submit">Kirim</button>
                </div>
              </form>
              {% else %}
              <p style="color: #0C1451">Ingin Berkomentar ? <a href="{% url 'login' %}">Klik Ini Untuk Login</a></p>
              {% endif %}
            </div>
          </div>
        </div>
      </section>

         <!--Blockquote-->
      <section class="section section-lg bg-default">
        <div class="container">
          <div class="row row-50">
            <div class="col-lg-10 col-xl-8">
              <h3>Semua Komentar</h3>
              <!--Quote Primary-->
              {% if request.user.is_authenticated %}
              {% for komentar in komentars %}
              <article class="quote-primary">
                <div class="quote-primary-body">
                  <svg class="quote-primary-mark" version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="21px" height="15px" viewbox="0 0 21 15" overflow="scroll" xml:space="preserve" preserveAspectRatio="none">
                    <path d="M9.597,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.349,1.316 c-1.287,0-2.414-0.44-3.382-1.316C0.482,12.811,0,11.758,0,10.535c0-1.226,0.58-2.716,1.739-4.473L5.603,0H9.34L6.956,6.37 C8.716,7.145,9.597,8.493,9.597,10.412z M20.987,10.412c0,1.306-0.473,2.399-1.418,3.277c-0.944,0.876-2.06,1.316-3.35,1.316 c-1.288,0-2.415-0.44-3.381-1.316c-0.966-0.879-1.45-1.931-1.45-3.154c0-1.226,0.582-2.716,1.74-4.473L16.994,0h3.734l-2.382,6.37 C20.106,7.145,20.987,8.493,20.987,10.412z"></path>
                  </svg>
                  <div class="quote-primary-text">
                    <p class="q" style="color: #0C1451;">{{komentar.komentar}}</p>
                  </div>
                </div>
                <div class="quote-primary-footer">
                  <p class="heading-5 quote-primary-cite">{{komentar.user}}</p>
                </div>
              </article>
              {% endfor %}
              {% else %}
              <p style="color: #0C1451"><a href="{% url 'login' %}">Login untuk melihat komentar</a></p>
              {% endif %}
            </div>
          </div>
        </div>
      </section>
{% endblock %}