{% extends 'main.html' %} 

{% load static %}    
{% block content %} 
   <!--Main bunner-->
      <div class="section section-main-bunner context-dark" id="home">
        <div class="main-bunner-img bg-overlay-1" style="background-image: url(/static/frontend/images/slide-food2.jpg); background-size: cover;"></div>
        <div class="main-bunner-inner">
          <div class="container wide">
            <div class="row justify-content-left">
              <div class="col-lg-5">
                <h1 data-caption-animate="fadeInUp" data-caption-delay="100">Yommies</h1>
                <p class="lead text-custom-blue" data-caption-animate="fadeInUp" data-caption-delay="250">Resep Masakan Mudah & Praktis</p>
                <div class="btn-wrap">
                  <div class="group-xxl group-middle">
                    <a class="button button-white button-md button-round-2" href="{% url 'register' %}" data-caption-animate="fadeInUp" data-caption-delay="450">Daftar Sekarang</a></div>
                </div>
                <p class="text-custom-blue">Siti Muawwanah - 2011102441153</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      {% if search %}
      <section class="section section-lg bg-default text-center">
        <div class="container">
          <div class="text-center">
            <h2 class="title">Resep Pilihan Yommies</h2>
            <div class="subtitle-2">Pilihan Resep Dari Admin Yommies ✨</div>
          </div>
          <div class="row">
            <div class="col-12">
              <!--Bootstrap tabs-->
              <div class="tabs-vertical tabs-corporate ">
                <div class="tab-content">
                  <div class="section">
                    <div class="container wide">
                      <div class="row row-md-80 row-sm-50">
                        {% for cari_yommies in resep_cari_yommies %}
                        <div class="col-xs-12 col-md-6 col-lg-4">
                          <div class="box-info-modern box-md">
                            <div class="box-info-modern-figure">
                              <a href="{% url 'detail-resep-masakan' cari_yommies.key %}" title="{{cari_yommies.title}}"><img src="{{media_url}}{{cari_yommies.thumb}}" alt="" width="390" height="344"/></a>
                            </div>
                            <div class="box-info-modern-title">
                              <a href="{% url 'detail-resep-masakan' cari_yommies.key %}" title="{{cari_yommies.title}}">{{cari_yommies.title|slice:":20"}}...</a>
                            </div>
                            <div class="box-info-modern-text small">
                              <i class="icon-sm mdi mdi-alarm"></i> {{cari_yommies.times}}
                              <i class="icon-sm mdi mdi-food"></i> {{cari_yommies.serving}}
                              <i class="icon-sm mdi mdi-chart-areaspline"></i> {{cari_yommies.difficulty}}
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>

      <section class="section section-lg bg-default text-center">
        <div class="container">
          <div class="text-center">
            <h2 class="title">Resep Yang Cocok</h2>
            <div class="subtitle-2">Pilihan Resep Dari Pencarian Anda ✨</div>
          </div>
          <div class="row">
            <div class="col-12">
              <!--Bootstrap tabs-->
              <div class="tabs-vertical tabs-corporate ">
                <div class="tab-content">
                  <div class="section">
                    <div class="container wide">
                      <div class="row row-md-80 row-sm-50">
                        {% for resep in resep_cari_api %}
                        <div class="col-xs-12 col-md-6 col-lg-4">
                          <div class="box-info-modern box-md">
                            <div class="box-info-modern-figure">
                              <a href="{% url 'detail-resep-masakan' resep.key %}" title="{{resep.title}}"><img src="{{resep.thumb}}" alt="" width="390" height="344"/></a>
                            </div>
                            <div class="box-info-modern-title">
                              <a href="{% url 'detail-resep-masakan' resep.key %}" title="{{resep.title}}">{{resep.title|slice:":20"}}...</a>
                            </div>
                            <div class="box-info-modern-text small">
                              <i class="icon-sm mdi mdi-alarm"></i> {{resep.times}}
                              <i class="icon-sm mdi mdi-food"></i> {{resep.serving}}
                              <i class="icon-sm mdi mdi-chart-areaspline"></i> {{resep.difficulty}}
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      {% else %}
     
      <!--How Works-->
      <div class="section section section-lg">
        <div class="container wide">
          <div class="text-center">
            <div class="subtitle">Kategori</div>
            <h2 class="title">Kategori Resep</h2>
            <div class="subtitle-2">Pilihan Kategori Yang Dapat Kalian Pilih ✨</div>
          </div>
          <div class="row row-md-80 row-sm-50">
            {% for kategori in kategori_resep %}
            <div class="col-xs-10 col-md-6 col-lg-4">
              <a href="">
              <div class="box-info-modern box-md">
                <div class="box-info-modern-figure">
                   <a href="{% url 'resep-by-kategori' kategori.key %}"><img src="/static/frontend/images/kategori/{{kategori.key}}.jpg" alt="" width="390" height="344" style="height: 344px; object-fit: cover;" /></a>
                </div>
                <div class="box-info-modern-title">
                  <a href="{% url 'resep-by-kategori' kategori.key %}">{{kategori.category}}</a>
                </div>
                <!-- <div class="box-info-modern-text small">This will include an assessment of the muscles, ligaments, tendons and posture</div> -->
              </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!--Divider-->
      <div class="section">
        <div class="container wide">
          <div class="divider"></div>
        </div>
      </div>
      <!-- Services-->
      <div class="section section section-lg">
        <div class="container wide">
          <div class="">
            {% for resep_baru in new_resep %}
            <div class="row">
              <div class="col-md-6 col-lg-6">
                <a href="{% url 'detail-resep-masakan' resep_baru.key %}"><img src="{{resep_baru.thumb}}" alt="" width="580" height="550"/></a>
              </div>
              <div class="col-md-6 col-lg-6">
                <div class="">
                  <div class="subtitle">Resep Terbaru</div>
                  <h3 class="title"><a href="{% url 'detail-resep-masakan' resep_baru.key %}">{{resep_baru.title}}</a></h3>

                  <div class="subtitle-3">
                    <i class="icon-sm mdi mdi-alarm"></i> {{resep_baru.times}}
                  </div>
                  <div class="subtitle-3">
                    <i class="icon-sm mdi mdi-food"></i> {{resep_baru.serving}}
                  </div>
                  <div class="subtitle-3">
                    <i class="icon-sm mdi mdi-chart-areaspline"></i> {{resep_baru.difficulty}}
                  </div>
                  <div class="btn-wrap"><a class="button button-secondary button-md" href="{% url 'detail-resep-masakan' resep_baru.key %}" data-caption-animate="fadeInUp" data-caption-delay="450">Lihat Detail</a></div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!--Divider-->
      <div class="section">
        <div class="container wide">
          <div class="divider"></div>
        </div>
      </div>
      <section class="section section-lg bg-default text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!--Bootstrap tabs-->
                <div class="tabs-vertical tabs-corporate ">
                    <div class="tab-content">
                        <div class="section">
                            <div class="container wide">
                                <div class="row row-md-80 row-sm-50">
                                    {% for resep in resep_by_yommies %}
                                    <div class="col-xs-12 col-md-6 col-lg-4">
                                        <div class="box-info-modern box-md">
                                            <div class="box-info-modern-figure">
                                                <a href="{% url 'detail-resep-masakan' resep.key %}" title="{{resep.title}}">
                                                  {% if resep.thumb != NULL %}
                                                  <img src="{{media_url}}{{resep.thumb}}" alt="" width="390" height="344"/>
                                                  {% else %}
                                                  <img src="{% static 'frontend/images/default-image.png' %}" alt="" style="height: 213px;" />
                                                  {% endif %}
                                                </a>
                                            </div>
                                            <div class="box-info-modern-title">
                                                <a href="{% url 'detail-resep-masakan' resep.key %}" title="{{resep.title}}">{{resep.title|slice:":20"}}...</a>
                                            </div>
                                            <div class="box-info-modern-text small">
                                                <i class="icon-sm mdi mdi-alarm"></i> {{resep.times}}
                                                <i class="icon-sm mdi mdi-food"></i> {{resep.serving}}
                                                <i class="icon-sm mdi mdi-chart-areaspline"></i> {{resep.difficulty}}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
      <div class="section section-custom">
        <div class="container wide">
          <div class="text-center">
            <h2 class="title">Ingin Melihat  <br class="br-none"> Resep Lengkap?</h2>
            <div class="subtitle-2 big">Silakan klik tombol dibawah, ya✨</div>
            <div class="row justify-content-center mb-5"><a class="button button-secondary button-md" href="{% url 'resep-full' %}">Lihat Resep</a></div>
          
          </div>
        </div>
      </div>

      {% endif %}
{% endblock %}