{% extends 'main.html' %} 

{% load static %}    
{% block content %} 
  
   
 <div class="section section-lg bg-secondary">
        <div class="container wide">
          <div class="text-center">
            <h1>{{nama_kategori|title}}</h1>
            <div class="subtitle-2">Beberapa {{nama_kategori}} yang tersedia</div>
          </div>
        </div>
      </div>
      <div class="section section section-xl">
        <div class="container wide">
          <div class="text-center">
            <h2 class="subtitle">{{nama_kategori|title}}</h2>
          </div>
          <div class="row row-md-80 row-sm-50">
            {% for resep in api_resep %}
            <div class="col-xs-10 col-md-6 col-lg-4">
              <div class="box-info-modern box-md">
                <div class="box-info-modern-figure">
                    <a href="{% url 'detail-resep-masakan' resep.key %}" title="{{resep.title}}"><img src="{{resep.thumb}}" alt="" width="390" height="344"/></a>
                </div>
                <div class="box-info-modern-title">
                    <a href="{% url 'detail-resep-masakan' resep.key %}" title="{{resep.title}}">{{resep.title|slice:":30"}}...</a>
                </div>
                <div class="box-info-modern-text small">
                    <i class="icon-sm mdi mdi-alarm"></i> {{resep.times}}
                    <i class="icon-sm mdi mdi-food"></i> {{resep.serving}}
                    <i class="icon-sm mdi mdi-chart-areaspline"></i> {{resep.difficulty}}
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>

{% endblock %}