    {% extends 'main.html' %} 

{% load static %}    
{% block content %} 

<!--Vertical Tabs-->
 <div class="section section-lg bg-secondary">
        <div class="container wide">
          <div class="text-center">
            <h1>Resep Yommies✨</h1>
            <div class="subtitle-2">Beberapa resep yang tersedia, silakan pilih sesuai kategori jika ingin lebih detail</div>
          </div>
        </div>
      </div>
<section class="section section-lg bg-default text-center">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!--Bootstrap tabs-->
                <div class="tabs-vertical tabs-corporate ">
                    <!--Nav tabs-->
                    <ul class="nav nav-tabs">
                        {% for kat_resep in kategoris %}
                        <li class="nav-item"><a class="nav-link" href="{% url 'resep-by-kategori' kat_resep.key %}">{{kat_resep.category}}</a></li>
                        {% endfor %}
                    </ul>
                    <!--Tab panes-->
                    <div class="tab-content">
                        <div class="section">
                            <div class="container wide">
                                <div class="row row-md-80 row-sm-50">
                                    {% for resep in reseps %}
                                    <div class="col-xs-10 col-md-6 col-lg-4">
                                        <div class="box-info-modern box-md">
                                            <div class="box-info-modern-figure">
                                                <a href="{% url 'detail-resep-masakan' resep.key %}" title="{{resep.title}}">
                                                    {% if resep.thumb %}
                                                    {% if resep.is_from_api %}
                                                    <img src="{{resep.thumb}}" alt="" style="height: 200px; object-fit: cover;"/>
                                                    {% else %}
                                                    <img src="{{media_url}}{{resep.thumb}}" alt="" style="height: 200px; object-fit: cover;"/>
                                                    {% endif %}
                                                    {% else %}
                                                    <img src="{% static 'frontend/images/default-image.png' %}" alt="" style="height: 200px; object-fit: cover;" />
                                                    {% endif %}
                                                </a>
                                            </div>
                                            <div class="box-info-modern-title">
                                                <a href="{% url 'detail-resep-masakan' resep.key %}" title="{{resep.title}}" style="font-size: 16px;">{{resep.title|truncatewords:"3"}}</a>
                                            </div>
                                            <div class="box-info-modern-text small" style="font-size: 16px;">
                                                <i class="icon-sm mdi mdi-alarm"></i> {{resep.times}}
                                                <i class="icon-sm mdi mdi-food"></i> {{resep.serving}}
                                                <i class="icon-sm mdi mdi-chart-areaspline"></i> {{resep.difficulty}}
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr>

{% endblock %}