{% extends 'main.html' %} 

{% load static %}    
{% block content %} 

<!--Vertical Tabs-->
 <div class="section section-lg bg-secondary">
        <div class="container wide">
          <div class="text-center">
            <h1>Tentang Saya</h1>
            <div class="subtitle-2"></div>
          </div>
        </div>
      </div>
      <div class="section section-lg bg-default">
        <div class="container">
          <div class="about-wrap">
            <div class="row row-sm-30">
              <div class="col-lg-6">
                <h2 class="title">Kontak untuk <br class="br-none"> keperluan bisnis</h2>
              </div>
              <div class="col-lg-6">
              <div class="contacts-wrap">
                <p>Nomor Telepon : </p>
                <div class="phone-link-second"><a href="tel:+6289522915558">+62 895-2291-5558</a> <br> (Siti Muawwanah)</div>
                <!-- <div class="phone-link-second"><a href="tel:#">1 000-234-78-90</a></div> -->
                <p>Lokasi : </p><span>Samarinda, Kalimantan Timur.</span>
              </div>
            </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}