{% extends 'main.html' %} 

{% load static %}    
{% block content %} 

<!--Vertical Tabs-->
 <div class="section section-lg bg-secondary">
        <div class="container wide">
          <div class="text-center">
            <h1>Tentang Saya</h1>
            <div class="subtitle-2"></div>
          </div>
        </div>
      </div>
      <div class="section section-custom mb-5">
        <div class="container wide">
          <div class="text-center">
            <h2 class="title">Siti Muawwanah - 2011102441153</h2>
          </div>
        </div>
      </div>
{% endblock %}