{% extends 'operator/adminbase.html' %}
{% load static %}
{% block content %}
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Edit Resep - {{resep.judul}}
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-xs-12">

                <div class="box">
                    <div class="box-body">
                        <form method="POST" action="" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-group">
                                <div><label>Judul Resep</label></div>
                                <div>
                                    <input class="form-control" type="text" name="judul" value="{{resep.judul}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <div><label>Kategori Resep</label></div>
                                <div>
                                    <select class="form-control" name="kategori_resep">
                                        <option value="">---Pilih Kategori---</option>
                                        {% for kategori in kategoris %}
                                        <option value="{{kategori.id}}" {% if resep.kategori_resep_id == kategori.id %} selected {% endif %}>{{kategori.judul}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <div><label>Isi</label></div>
                                <div>
                                    <textarea name="isi" id="editor1" required rows="10"
                                    cols="100">{{resep.isi}}</textarea>
                                </div>
                            </div>

                            <div class="form-group">
                                <div><label>Gambar</label></div>
                                <div>
                                    <input type="file" class="form-control" accept="image/*" onchange="loadFile(event)" name="gambar">
                                    <img id="output"/ width="20%">
                                    <p>Gambar Sebelumnya : </p> <img src="{{media_url}}{{resep.gambar}}" width="20%">
                                </div>
                            </div>

                            <div class="form-group">
                                <div><label>URL Youtube</label></div>
                                <div>
                                    <input class="form-control" type="text" name="url_youtube" value="{{resep.url_youtube}}">
                                </div>
                            </div>

                            <div class="form-group">
                                <button type="submit" title="Simpan" class="btn btn-success"><i class="fa fa-save" aria-hidden="true"></i> Simpan</button>
                                <a class="btn btn-primary" title="Kembali" href="" role="button"><i class="fa fa-arrow-left" aria-hidden="true"></i> Kembali</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- /.box -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>
{% block scripts %}
<script src="{% static 'assets/js/extensions/jquery.js' %}"></script>
<script src="{% static 'assets/js/extensions/form-element-select.js' %}"></script>
<script src="https://cdn.ckeditor.com/4.19.1/standard/ckeditor.js"></script>
<script src="{% static 'assets/js/extensions/datatables.js' %}"></script>
<script src="{% static 'assets/js/extensions/datatables-5.js' %}"></script>
<script type="text/javascript">
    var loadFile = function(event) {
        var output = document.getElementById('output');
        output.src = URL.createObjectURL(event.target.files[0]);
        output.onload = function() {
URL.revokeObjectURL(output.src) // free memory
}
};
</script>

<script>
    CKEDITOR.replace('editor1');
</script>
{% endblock scripts %}


{% endblock content %}