{% load static %}
<div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="{% static 'frontend/images/ie8-panel/warning_bar_0000_us.jpg' %}" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
      <div class="preloader-body">
        <div class="cssload-container">
          <div class="cssload-speeding-wheel"></div>
        </div>
        <p>Loading...</p>
      </div>
    </div>
    <div class="page">
      <header class="section page-header">
        <!--RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav class="rd-navbar rd-navbar-classic" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="46px" data-xl-stick-up-offset="46px" data-xxl-stick-up-offset="46px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
            <div class="rd-navbar-main-outer">
              <div class="rd-navbar-main">
                <!--RD Navbar Panel-->
                <div class="rd-navbar-panel">
                  <!--RD Navbar Toggle-->
                  <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                  <!--RD Navbar Brand-->
                  <div class="rd-navbar-brand">
                    <a class="brand" href="index.html">
                      <!-- <img class="brand-logo-dark" src="{% static 'frontend/images/logo-default-428x112.png' %}" alt="" width="214" height="56"/> -->
                      <h3 style="color: #FE9B8E">Yommies </h3>
                      <!-- <img class="brand-logo-light" src="{% static 'frontend/images/logo-inverse-430x112.png' %}" alt="" width="215" height="56"/> -->
                    </a>
                  </div>
                </div>
                <div class="rd-navbar-main-element">
                  <div class="rd-navbar-nav-wrap">
                    <ul class="rd-navbar-nav">
                      {% url 'home' as url %}
                      <li class="rd-nav-item {% if request.path == url %}active{% endif %}"><a class="rd-nav-link" href="{% url 'home' %}">Beranda</a>
                      </li>
                      <li class="rd-nav-item {% if 'resep-masakan/' in request.path %} active {% endif %}"><a class="rd-nav-link" href="{% url 'resep-full' %}">Resep</a>
                      </li>
                      <li class="rd-nav-item {% if 'tentang-saya/' in request.path %} active {% endif %}"><a class="rd-nav-link" href="{% url 'tentang-saya' %}">Tentang</a>
                      </li>
                      {% if request.user.is_authenticated %}
                      <li class="rd-nav-item {% if 'tentang-saya/' in request.path %} active {% endif %}"><a class="rd-nav-link" href="{% url 'tentang-saya' %}">Profil</a>
                      {% endif %}
                      </li>

                      <li class="rd-nav-item">
                        <div class="row">
                        <form action="{% url 'home' %}" method="GET" class="form-inline">
                          <input type="search" name="search" class="form-control" placeholder="Cari Resep...">
                        &nbsp;
                        <button class="button button-secondary" type="submit" style="margin-top: 0; padding: 10px; height: 42px;"><i class="mdi mdi-magnify"></i></button>
                        </form>
                      </div>
                      </li>

                    </ul>
                  </div>
                </div>
                <div class="rd-nav-item">
                  {% if request.user.is_authenticated %}
                  <div class="btn-wrap"><a class="button button-secondary button-sm" href="{% url 'logout' %}">Logout, {{request.user}} ?</a></div>
                  {% else %}
                  <div class="btn-wrap"><a class="button button-secondary button-sm" href="{% url 'login' %}">Login</a></div>
                  {% endif %}
                </div>
              </div>
            </div>
          </nav>
        </div>
      </header>